html {
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased; }
  html a {
    -webkit-font-smoothing: antialiased; }

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: 'b';
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px !important; }

.top {
  background-image: url("../../public/img/bg/top.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 900px; }

p {
  font-size: 17px;
  font-weight: 400;
  font-family: 'b';
  color: #000;
  line-height: 1.4;
  margin-bottom: 15px; }

em {
  font-size: 16px;
  font-weight: 500;
  font-family: 'b';
  color: #a6a7aa; }

li {
  font-size: 16px;
  font-weight: 500;
  font-family: 'b';
  color: #a6a7aa; }
  li a {
    font-size: 16px;
    font-weight: 500;
    font-family: 'b';
    color: #a6a7aa; }

a {
  font-family: 'b';
  color: #81848f;
  outline: 0; }
  a:focus, a:hover, a:active {
    outline: 0;
    color: #999caa;
    text-decoration: none; }

.left {
  vertical-align: left; }

.link {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  text-transform: uppercase; }
  .link:after {
    position: absolute;
    top: 8px;
    right: -15px;
    width: 9px;
    height: 2px;
    background: #17bed2;
    content: " "; }

span {
  font-size: 14px;
  font-weight: 400;
  font-family: 'b';
  color: #FFFFFF; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #515769; }

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #999caa;
  text-decoration: none; }

h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
  text-decoration: none; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3, h4 {
  font-size: 22px; }

::selection, ::-webkit-selection, ::-moz-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none; }

:active, :focus {
  outline: none; }

.bold {
  font-family: 'eBold'; }

.text-uppercase {
  text-transform: uppercase; }

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.section-head {
  text-transform: uppercase;
  font-size: 70px;
  color: #69d0fc;
  line-height: 1.4;
  margin: 0 0 14px;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 40px; }

.section-sub {
  font-size: 50px;
  color: #69d0fc;
  line-height: 1.4;
  margin: 0 0 14px;
  vertical-align: middle; }

.d-flex {
  display: flex !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

/*------------------------------------------------------------------
    [Button]
------------------------------------------------------------------*/
.btn-theme {
  color: #fff;
  background-color: #69d0fc;
  position: relative;
  display: inline-block;
  line-height: 1.4;
  text-align: center;
  background-image: none;
  border-style: solid;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .btn-theme.focus, .btn-theme:active.focus, .btn-theme.active.focus {
    outline: none; }
  .btn-theme:hover {
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    text-decoration: none; }
  .btn-theme:focus, .btn-theme.focus {
    text-decoration: none; }
  .btn-theme:active, .btn-theme.active {
    background-image: none;
    outline: 0; }
  .btn-theme.disabled, .btn-theme[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
    pointer-events: none; }

fieldset[disabled] .btn-theme {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none; }

.btn-white-brd {
  color: #fff;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px; }
  .btn-white-brd:hover, .btn-white-brd:focus, .btn-white-brd.focus {
    color: #515769;
    background: #fff;
    border-color: transparent; }

.btn-default-bg {
  color: #515769;
  background: #f3f4f5;
  border-color: transparent;
  border-width: 0; }
  .btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg.focus {
    color: #fff;
    background: #17bed2;
    border-color: transparent; }

.btn-base-bg {
  color: #fff;
  background: #17bed2;
  border-color: transparent;
  border-width: 0; }
  .btn-base-bg:hover, .btn-base-bg:focus, .btn-base-bg.focus {
    color: #fff;
    background: #63cbd7;
    border-color: transparent; }

.btn-theme-sm {
  font-size: 13px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px; }

.btn-theme-bg {
  font-size: 30px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 30px; }

/*------------------------------------------------------------------
    [Service]
------------------------------------------------------------------*/
.service {
  background: #fff;
  padding: 50px; }
  .service .service-element, .service .service-info {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .service .service-icon {
    display: block;
    font-size: 30px;
    color: #999caa;
    margin-bottom: 30px; }
  .service:hover .service-element {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .service:hover .service-info {
    -webkit-transform: translate3d(0, -30%, 0);
    -moz-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/*------------------------------------------------------------------
    [Work]
------------------------------------------------------------------*/
.work {
  position: relative; }
  .work .work-overlay {
    position: relative; }
    .work .work-overlay:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      content: " ";
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .work .work-content {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    padding: 25px;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .work:hover .work-overlay:before {
    background: rgba(0, 0, 0, 0.5);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .work:hover .work-content {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/*------------------------------------------------------------------
    [Header]
------------------------------------------------------------------*/
/* Fixed Top */
.navbar-fixed-top .navbar-collapse {
  max-height: 100%; }

.header {
  background-color: transparent; }
  .header .navbar {
    margin-bottom: 0;
    border-radius: 0px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    background: transparent; }
  .header .navbar-toggle {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    margin: 35px 0; }
    .header .navbar-toggle .toggle-icon {
      position: relative;
      width: 21px;
      height: 1px;
      display: inline-block;
      background: #000;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
      .header .navbar-toggle .toggle-icon:before, .header .navbar-toggle .toggle-icon:after {
        position: absolute;
        left: 0;
        background: #000;
        content: " "; }
      .header .navbar-toggle .toggle-icon:before {
        width: 10px;
        height: 1px;
        bottom: 10px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        background: #000; }
      .header .navbar-toggle .toggle-icon:after {
        width: 16px;
        height: 1px;
        top: -5px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        background: #000; }
    .header .navbar-toggle:hover .toggle-icon {
      background: #000;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
      .header .navbar-toggle:hover .toggle-icon:before, .header .navbar-toggle:hover .toggle-icon:after {
        width: 21px;
        height: 1px;
        background: #000;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
      .header .navbar-toggle:hover .toggle-icon.is-clicked {
        background: rgba(81, 87, 105, 0); }
  .header .logo {
    width: 60px;
    height: 60px;
    float: left;
    max-height: 95px;
    line-height: 65px; }
  .header .logo-wrap {
    display: inline-block;
    padding: 5px 5px; }
    .header .logo-wrap:focus, .header .logo-wrap:hover {
      text-decoration: none; }
  .header .logo-img {
    position: relative;
    top: 0;
    display: inline-block;
    width: auto;
    height: 60px;
    vertical-align: middle; }
  .header .logo-img-main {
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .header .logo-img-active {
    display: none;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .header .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  .header .nav-item {
    font-weight: bolder;
    position: relative;
    display: block; }
    .header .nav-item:last-child .nav-item-child {
      padding-right: 0; }
  .header .nav-item-child {
    position: relative;
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    line-height: 55px;
    padding: 10px 20px 10px 20px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    text-decoration: none; }
    .header .nav-item-child b {
      border-bottom: none; }
      .header .nav-item-child b:hover {
        border-bottom: 2px solid #fff;
        padding: 0 0 2px 0; }
  .header .nav-item-hover {
    position: relative; }
    .header .nav-item-hover:after {
      position: absolute;
      top: 35px;
      left: 0;
      width: 9px;
      height: 2px;
      background: #fff;
      opacity: 0;
      content: " ";
      transition-duration: 400ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .header .lang-wrap .lang-tab {
    cursor: pointer; }
    .header .lang-wrap .lang-tab .lang-icon {
      height: 20px;
      width: 20px;
      position: relative;
      top: 4px;
      display: inline-block; }
    .header .lang-wrap .lang-tab #en {
      display: inline-block; }
    .header .lang-wrap .lang-tab #cn {
      display: none; }

/* Navbar */
/* Navbar Toggle */
/* Navbar Logo */
/* Navbar */
/* Nav */
/* Media Queries below 991px */
@media (max-width: 991px) {
  .header {
    background: transparent;
    /* height: 40px; */ }
    .header .navbar-toggle {
      display: block; }
    .header .navbar-collapse.collapse {
      display: none !important; }
      .header .navbar-collapse.collapse.in {
        display: block !important; }
    .header .nav-collapse {
      padding-left: 0;
      padding-right: 0; }
    .header .navbar-nav {
      margin: 0;
      float: none;
      background-color: #69d0fc; }
      .header .navbar-nav .nav-item {
        float: none; }
    .header .menu-container:before {
      content: " ";
      display: table; }
    .header .menu-container:after {
      content: " ";
      display: table;
      clear: both; }
    .header .nav-item-child {
      color: #fff;
      line-height: 1.4;
      padding: 12px 12px 12px 15px;
      text-decoration: none; }
      .header .nav-item-child b:hover {
        border-bottom: 1.2px solid #fff;
        padding: 0 0 2px 0; }
    .header .nav-item-hover:after {
      position: absolute;
      top: 19px; }
    .header .logo-img-main {
      margin-top: 16px; }

  /* Menu Container */
  /* Navbar Nav */ }
/* Media Queries below 767px */
@media (max-width: 767px) {
  /* Menu Container */
  .header .menu-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0; }
  .header .navbar > .container {
    width: auto;
    padding-left: 0;
    padding-right: 0; }
    .header .navbar > .container > .nav-collapse {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0; } }
/* Media Queries above 991px */
@media (min-width: 991px) {
  /* Navbar */
  .header .navbar-nav-right {
    float: right; } }
/*Animation */
#fish-top {
  position: absolute;
  max-width: 60%;
  top: 0;
  right: 0;
  overflow: hidden;
  text-align: right;
  left: 60%; }
  #fish-top svg {
    width: 50%; }

#conch {
  position: absolute;
  max-width: 26%;
  right: 4%;
  top: 320%;
  z-index: 1; }

#baby {
  position: absolute;
  max-width: 10%;
  right: 22%;
  top: 20%; }

#seaweed {
  position: absolute;
  max-width: 15%;
  left: 10%;
  top: 450%;
  z-index: 1; }

#seaweed_content {
  width: 100%;
  position: relative; }

/* Page On Scroll */
/* full screen */
.page-on-scroll .header .navbar {
  background-color: #fff;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
.page-on-scroll .header .logo-img-main {
  display: none;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
.page-on-scroll .header .logo-img-active {
  display: inline-block;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
.page-on-scroll .header .nav-item-child {
  color: #69d0fc;
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .page-on-scroll .header .nav-item-child b {
    border-bottom: none; }
    .page-on-scroll .header .nav-item-child b:hover {
      border-bottom: 2px solid #69d0fc;
      padding: 0 0 2px 0; }
.page-on-scroll .header .container {
  border: none; }

@media (max-width: 991px) {
  .page-on-scroll .header .navbar {
    background: #fff;
    opacity: 1;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .page-on-scroll .header .logo-img-main {
    display: none;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    margin-top: 16px; }
  .page-on-scroll .header .logo-img-active {
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    margin-top: 16px; }
  .page-on-scroll .header .nav-item-child {
    color: #fff;
    text-decoration: none;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .page-on-scroll .header .nav-item-child b {
      border-bottom: none; }
      .page-on-scroll .header .nav-item-child b:hover {
        border-bottom: 2px solid #fff;
        padding: 0 0 2px 0; } }
/*------------------------------------------------------------------
    [sections]
------------------------------------------------------------------*/
.about {
  line-height: 1.8;
  text-align: center; }
  .about img {
    position: absolute;
    top: 200%;
    right: 80%;
    width: 170px;
    height: 170px;
    background: transparent;
    z-index: 0; }

.benefit .row {
  padding-top: 60px;
  padding-bottom: 60px; }
  .benefit .row .right-beach {
    background-image: url("../../public/img/bg/right.png");
    background-size: 100%;
    z-index: 0; }
  .benefit .row .left-beach {
    background-image: url("../../public/img/bg/left.png");
    background-size: 100%;
    z-index: 0; }
.benefit .align-right {
  text-align: right; }
.benefit .align-left {
  text-align: left; }

.service .card.service-opt {
  padding: 15x;
  text-align: center; }
  .service .card.service-opt .service-img {
    width: 150px;
    height: 150px; }

.gallery #slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }
  .gallery #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none; }
    .gallery #slider ul li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 500px;
      height: 300px;
      background: #ccc;
      text-align: center;
      line-height: 300px; }
.gallery a.control_prev, .gallery a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer; }
.gallery a.control_prev:hover, .gallery a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease; }
.gallery a.control_prev {
  border-radius: 0 2px 2px 0; }
.gallery a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px; }
.gallery .slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px; }

.packages .package-opt {
  padding: 10px; }
.packages h3 {
  color: #69d0fc;
  font-family: 'eBold';
  font-size: 30px; }

/*--------------------------------------------------
    [Back To Top Theme Button]
----------------------------------------------------*/
.back-to-top {
  position: relative;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  z-index: 9;
  width: 40px;
  height: 40px;
  font-size: 11px;
  font-weight: 400;
  color: #000;
  text-align: center;
  line-height: 3;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #515769;
  border-radius: 3px;
  opacity: 0;
  padding: 5px;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .back-to-top:hover {
    color: #fff;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .back-to-top:focus, .back-to-top:hover {
    text-decoration: none; }
  .back-to-top.back-to-top-is-visible {
    visibility: visible;
    opacity: .6;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .back-to-top.back-to-top-is-visible:hover {
      opacity: 1;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .back-to-top.back-to-top-fade-out {
    opacity: .4; }
    .back-to-top.back-to-top-fade-out:hover {
      opacity: 1;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

/*------------------------------------------------------------------
    [Full Screen Carousel]
------------------------------------------------------------------*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/*------------------------------------------------------------------
    [Carousel]
------------------------------------------------------------------*/
.carousel-indicators {
  left: auto;
  width: auto;
  padding-left: 0;
  margin-left: 0; }

.carousel-centered {
  display: block;
  text-transform: uppercase;
  font-size: 500px;
  position: relative;
  top: 300px;
  z-index: 999;
  text-align: center;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.carousel-title {
  color: #17bed2;
  line-height: 1.3;
  text-transform: uppercase; }

#title-responsive {
  display: none;
  font-size: 80px; }

.banner .banner-head {
  text-transform: uppercase;
  text-align: left;
  position: relative;
  font-size: 90px;
  top: 120px;
  display: block;
  color: #69d0fc;
  height: 280px;
  width: 70%; }
.banner .banner-btn {
  position: relative;
  color: #fff;
  top: 60px; }
  .banner .banner-btn:hover {
    color: #69d0fc;
    background-color: #fff;
    transition: all .5s ease;
    border: solid thin #69d0fc; }

@media (max-width: 767px) {
  #title-full {
    display: none; }

  #title-responsive {
    display: inline-block; } }
/*------------------------------------------------------------------
    [Row]
------------------------------------------------------------------*/
.row-space-1 {
  margin-right: -1px;
  margin-left: -1px; }
  .row-space-1 > [class*="col-"] {
    padding-left: 1px;
    padding-right: 1px; }

/*------------------------------------------------------------------
    [Content]
------------------------------------------------------------------*/
.content {
  padding: 200px; }

.content-sm {
  padding-top: 60px;
  padding-bottom: 60px; }

.content-md {
  padding-top: 20px;
  padding-bottom: 100px; }

.content-lg {
  padding-top: 100px;
  padding-bottom: 100px; }

/*------------------------------------------------------------------
    [Container Full Width]
------------------------------------------------------------------*/
.container {
  background: transparent;
  max-width: 90%;
  width: 1150px;
  border-bottom: solid thin rgba(255, 255, 255, 0.14); }

.container-full-width {
  width: 100%; }
  .container-full-width:before {
    content: " ";
    display: table; }
  .container-full-width:after {
    content: " ";
    display: table;
    clear: both; }

/*--------------------------------------------------
    [About]
----------------------------------------------------*/
.icon-wrapper .logo {
  width: 100px;
  height: 100px;
  color: #a6a7aa;
  transition: color ease-in-out .30s, width ease-in-out .30s, height ease-in-out .30s; }
  .icon-wrapper .logo:hover {
    color: #63cbd7;
    width: 110px;
    height: 110px;
    transition: color ease-in-out .30s, width ease-in-out .30s, height ease-in-out .30s; }

#about .margin-b-30 {
  height: 250px;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

.icon-wrapper h4 {
  border: none; }

@media (max-width: 360px) {
  #about .margin-b-30 {
    height: 330px; }
    #about .margin-b-30 p {
      line-height: 1.2; } }
/*--------------------------------------------------
    [Contact]
----------------------------------------------------*/
.footer {
  background-image: url("../../public/img/bg/footer.png");
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 900px; }
  .footer .contact {
    padding-top: 450px;
    text-decoration: none;
    font-family: 'b';
    font-weight: 100;
    line-height: 60px;
    text-align: center; }
    .footer .contact h1 {
      color: #fff; }
    .footer .contact .contact-text {
      color: #fff;
      line-height: 1.5;
      font-weight: bold; }
  .footer .contact-list {
    display: none;
    font-size: 13px;
    color: #81848f;
    margin: 10px;
    list-style-type: none;
    padding: 0 3px 0 3px;
    text-align: center; }
    .footer .contact-list li {
      font-size: 1.8rem;
      padding: 5px;
      line-height: 1.5;
      margin: 3px 20px;
      display: inline-block; }
      .footer .contact-list li:hover {
        background-color: transparent !important; }
      .footer .contact-list li .logo {
        height: 35px;
        width: 35px;
        color: #fff;
        border-radius: 8px;
        transition: transform .3s; }
        .footer .contact-list li .logo:hover {
          color: #ffdd15;
          transform: scale(1.5); }

@media (max-width: 460px) {
  .contact-list li {
    margin: 3px 5px; }

  .contact h3 {
    display: none; }
  .contact h4 {
    display: inline-block; } }

/*# sourceMappingURL=layout.css.map */
