@media only screen and (max-width: 320px) {
  #seaweed, #conch {
    display: none; }

  /* smartphones, iPhone, portrait 480x320 phones */
  html, body {
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat; }
    html .header .logo-img, body .header .logo-img {
      margin-top: 1em;
      width: 200px;
      height: 30px; }
    html .header .logo-img-active, body .header .logo-img-active {
      margin-top: 1em !important; }
    html #title-responsive, body #title-responsive {
      font-size: 30px;
      color: #fff;
      top: 0px; }
    html .banner .banner-head, body .banner .banner-head {
      height: 110px; }
    html .btn-theme-bg, body .btn-theme-bg {
      font-size: 20px;
      padding: 10px 20px;
      opacity: 1; }
    html .banner .banner-btn, body .banner .banner-btn {
      background-color: #69d0fc;
      color: #fff;
      top: 0px;
      border: solid thin #69d0fc; }
    html #fish-top, body #fish-top {
      max-width: 100%; }
    html #baby, body #baby {
      max-width: 30%;
      right: 12%;
      top: 15%; }
    html #seaweed, body #seaweed {
      top: 335%;
      max-width: 35%;
      left: 20%; }
    html .section-head, body .section-head {
      font-size: 40px; }
    html .content, body .content {
      padding: 0; }
    html .gallery #slider, body .gallery #slider {
      width: auto !important;
      height: 200px; }
      html .gallery #slider img, body .gallery #slider img {
        width: 500px;
        height: 400px; }
    html .section-sub, body .section-sub {
      font-size: 30px;
      color: #31bbf7; }
    html .content-md, body .content-md {
      padding-top: 20px;
      padding-bottom: 20px; }
    html .content-lg, body .content-lg {
      padding-top: 100px;
      padding-bottom: 50px; }
    html .packages, body .packages {
      padding-bottom: 0; }
    html .contact, body .contact {
      padding: 0;
      padding-bottom: 300px; }

  .top {
    background-image: url("../../public/img/bg/mobileHead.png");
    background-size: 100%;
    background-repeat: no-repeat; }

  .benefit .row .wording {
    padding: 50px; }
  .benefit .row .right-beach, .benefit .row .left-beach {
    min-height: 320px; }

  .footer {
    background-image: url("../../public/img/bg/mobileFoot.png");
    background-size: cover;
    min-height: 600px; }
    .footer .contact {
      margin: 0;
      padding: 0;
      position: relative;
      top: 150px; }
      .footer .contact h1 {
        position: relative;
        font-size: 20px;
        top: 50px; }
      .footer .contact .contact-list-pc {
        display: none; }
      .footer .contact .contact-list {
        display: inline; } }
@media only screen and (min-width: 320px) and (max-width: 481px) {
  #seaweed, #conch {
    display: none; }

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  html, body {
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat; }
    html .header .logo-img, body .header .logo-img {
      margin-top: 1em;
      width: 12em;
      height: 2em; }
    html .header .logo-img-active, body .header .logo-img-active {
      margin-top: 1em !important; }
    html #title-responsive, body #title-responsive {
      font-size: 30px;
      color: #fff;
      top: 0px; }
    html .banner .banner-head, body .banner .banner-head {
      height: 110px; }
    html .btn-theme-bg, body .btn-theme-bg {
      font-size: 20px;
      padding: 10px 20px;
      opacity: 1; }
    html .banner .banner-btn, body .banner .banner-btn {
      background-color: #69d0fc;
      color: #fff;
      top: 0px;
      border: solid thin #69d0fc; }
    html #fish-top, body #fish-top {
      max-width: 100%; }
    html #baby, body #baby {
      max-width: 30%;
      right: 12%;
      top: 15%; }
    html #seaweed, body #seaweed {
      top: 335%;
      max-width: 35%;
      left: 20%; }
    html .section-head, body .section-head {
      font-size: 40px; }
    html .content, body .content {
      padding: 0; }
    html .gallery #slider, body .gallery #slider {
      width: auto !important;
      height: 200px; }
      html .gallery #slider img, body .gallery #slider img {
        width: 500px;
        height: 400px; }
    html .section-sub, body .section-sub {
      font-size: 30px;
      color: #31bbf7; }
    html .content-md, body .content-md {
      padding-top: 20px;
      padding-bottom: 20px; }
    html .content-lg, body .content-lg {
      padding-top: 80px;
      padding-bottom: 50px; }
    html .packages, body .packages {
      padding-bottom: 0; }
    html .contact, body .contact {
      padding: 0;
      padding-bottom: 300px; }

  .top {
    background-image: url("../../public/img/bg/mobileHead.png");
    background-size: 100%;
    background-repeat: no-repeat; }

  .benefit .row .wording {
    padding: 50px; }
  .benefit .row .right-beach, .benefit .row .left-beach {
    min-height: 370px;
    height: 100%; }

  .footer {
    background-image: url("../../public/img/bg/mobileFoot.png");
    background-size: cover;
    min-height: 750px; }
    .footer .contact {
      margin: 0;
      padding: 0;
      position: relative;
      top: 150px; }
      .footer .contact h1 {
        position: relative;
        font-size: 20px;
        top: 50px; }
      .footer .contact .contact-list-pc {
        display: none; }
      .footer .contact .contact-list {
        display: inline; } }
@media only screen and (min-width: 641px) and (max-width: 961px) {
  #seaweed, #conch {
    display: none; }

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  html, body {
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat; }
    html .header .logo-img, body .header .logo-img {
      margin-top: 20px;
      width: auto;
      height: 50px; }
    html .header .logo-img-active, body .header .logo-img-active {
      margin-top: 1em !important; }
    html .banner .banner-head, body .banner .banner-head {
      font-size: 50px;
      height: 110px; }
    html .btn-theme-bg, body .btn-theme-bg {
      font-size: 20px;
      padding: 10px 20px;
      opacity: 1; }
    html .banner .banner-btn, body .banner .banner-btn {
      background-color: #fff;
      color: #69d0fc;
      top: 150px;
      border: solid thin #69d0fc; }
    html #fish-top, body #fish-top {
      max-width: 100%; }
    html #baby, body #baby {
      max-width: 18%;
      right: 12%;
      top: 5%; }
    html #seaweed, body #seaweed {
      top: 157%;
      max-width: 20%;
      left: 8%; }
    html .section-head, body .section-head {
      font-size: 40px; }
    html .content, body .content {
      padding: 0; }
    html .gallery #slider, body .gallery #slider {
      width: auto !important;
      height: 200px; }
      html .gallery #slider img, body .gallery #slider img {
        width: 500px;
        height: 400px; }
    html .section-sub, body .section-sub {
      font-size: 30px;
      color: #31bbf7; }
    html .content-md, body .content-md {
      padding-top: 20px;
      padding-bottom: 20px; }
    html .content-lg, body .content-lg {
      padding-top: 200px;
      padding-bottom: 200px; }
    html .packages, body .packages {
      padding-bottom: 0; }
    html .contact, body .contact {
      padding: 0;
      padding-bottom: 300px; }
    html .contact-list li, body .contact-list li {
      text-align: right; }
    html .benefit .row .wording, body .benefit .row .wording {
      padding: 80px; }
    html .benefit .row .right-beach, html .benefit .row .left-beach, body .benefit .row .right-beach, body .benefit .row .left-beach {
      min-height: 750px; }
    html .footer, body .footer {
      background-image: url("../../public/img/bg/mobileFoot.png");
      background-size: cover;
      min-height: 1800px; }
      html .footer .contact, body .footer .contact {
        margin: 0;
        padding: 0;
        position: relative;
        top: 450px; }
        html .footer .contact h1, body .footer .contact h1 {
          position: relative;
          font-size: 20px;
          top: 50px; }
        html .footer .contact .contact-list-pc, body .footer .contact .contact-list-pc {
          display: none; }
        html .footer .contact .contact-list, body .footer .contact .contact-list {
          display: inline; } }
@media only screen and (min-width: 961px) and (max-width: 1025px) {
  #seaweed, #conch {
    display: none; }

  /* big landscape tablets, laptops, and desktops */
  html, body {
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat; }
    html .header .logo-img, body .header .logo-img {
      margin-top: 0;
      width: 200px;
      height: 30px; }
    html .header .logo-img-active, body .header .logo-img-active {
      margin-top: 1em !important; }
    html .banner .banner-head, body .banner .banner-head {
      font-size: 50px;
      height: 110px; }
    html .btn-theme-bg, body .btn-theme-bg {
      font-size: 20px;
      padding: 10px 20px;
      opacity: 1; }
    html .banner .banner-btn, body .banner .banner-btn {
      background-color: #fff;
      color: #69d0fc;
      top: 150px;
      border: solid thin #69d0fc; }
    html #fish-top, body #fish-top {
      max-width: 100%; }
    html #baby, body #baby {
      max-width: 18%;
      right: 12%;
      top: 5%; }
    html #seaweed, body #seaweed {
      top: 157%;
      max-width: 20%;
      left: 8%; }
    html .section-head, body .section-head {
      font-size: 40px; }
    html .content, body .content {
      padding: 0; }
    html .gallery #slider, body .gallery #slider {
      width: auto !important;
      height: 200px; }
      html .gallery #slider img, body .gallery #slider img {
        width: 500px;
        height: 400px; }
    html .section-sub, body .section-sub {
      font-size: 30px;
      color: #31bbf7; }
    html .content-md, body .content-md {
      padding-top: 20px;
      padding-bottom: 20px; }
    html .content-lg, body .content-lg {
      padding-top: 200px;
      padding-bottom: 200px; }
    html .packages, body .packages {
      padding-bottom: 0; }
    html .contact, body .contact {
      padding: 0;
      padding-bottom: 300px; }
    html .contact-list li, body .contact-list li {
      text-align: right; }
    html .benefit .row .right-beach, html .benefit .row .left-beach, body .benefit .row .right-beach, body .benefit .row .left-beach {
      min-height: 400px; }
    html #packages, body #packages {
      padding-bottom: none; }
    html .footer, body .footer {
      background-image: url("../../public/img/bg/mobileFoot.png");
      background-size: cover;
      min-height: 1500px; }
      html .footer .contact, body .footer .contact {
        padding: 0;
        margin: 0;
        position: relative;
        top: 400px; }
        html .footer .contact .contact-list, body .footer .contact .contact-list {
          display: none; } }
@media only screen and (min-width: 1025px) and (max-width: 1281px) {
  #seaweed, #conch {
    display: none; }

  /* hi-res laptops and desktops */ }

/*# sourceMappingURL=responsive.css.map */
